.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #1d1b1b;
  color: #fff;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px; 
  margin-right: 10px; 
}

.title {
  margin: 0;
  font-size: 20px;
}

.nav {
  padding-left: 190px;
  display: flex;
}

.nav a,
.nav button {
  margin-right: 15px;
  color: #fff;
  text-decoration: none;
  font-weight: normal;
  transition: font-weight 0.3s ease; 
}

.nav a:hover,
.nav button:hover {
  font-weight: bold;
  text-decoration: none;
}

.nav a:active,
.nav a:focus,
.nav button:active,
.nav button:focus {
  font-weight: bold;
  text-decoration: none;
}


.link-button {
  padding: 6px 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

.link-button:hover {
  background-color: #45a049;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  margin-right: 10px;
  padding: 5px;
}

.search-bar button {
  padding: 6px 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #45a049;
}